.racing-sans-one-regular {
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titillium-web-regular {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    display: grid;
    grid-template-rows: auto auto auto;  /*Header      Content     Footer*/

    margin: 0px;

    font-size: 16px;
    font-family: "Racing Sans One";
    background-color: #15151E;
    color: white;
}

header{
    height: 80px;
    width: auto;

    grid-row: 1;

    display: flex;
    flex-direction: row;

    justify-content: flex-start;


    border-bottom: 2px solid #ff1e00;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;


    align-items: center;

}

header img{
    justify-self: flex-start;

    width: 10%;

}

nav{
    display: inline-flex;
    flex: 1;

    justify-content: space-evenly;
    align-items: center;
    gap: 50px;

    margin: 0px auto 0px auto;
}

nav button{
    background-color: #15151E;
    color: white;
    border: none;

    font-family: "Racing Sans One";
    font-size: 24px;
}

a{
    text-decoration: none;
    color: inherit;
}

#main{
    margin: 10px 50px;

    padding: 0px 50px 50px 50px;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
}

#main button{
    border: none;
}

#r1c1{
    grid-row: 1;
    grid-column: 1;

    background-color: #F47600ba;
    color: 	#000000;

    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
#r1c2{
    grid-row: 1;
    grid-column: 2;

    background-color: #ED1131ba;
    color: 	#000000;

    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

#r2c1{
    grid-row: 2;
    grid-column: 1;

    background-color: #C8CCCEba;
    color: 	#000000;

    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
#r2c2{
    grid-row: 2;
    grid-column: 2;

    background-color: 	#4781D7ba;
    color: 	#000000;

    transition: transform 0.25s ease, box-shadow 0.25s ease;
}


#r3c1{
    grid-row: 3;
    grid-column: 1;

    background-color: #037A68ba;
    color: 	#000000;

    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
#r3c2{
    grid-row: 3;
    grid-column: 2;

    background-color: #6C98FFba ;
    color: 	#000000;

    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
  

#r4c1{
    grid-row: 4;
    grid-column: 1;

    background-color: #1868DBba;
    color: 	#000000;

    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
#r4c2{
    grid-row: 4;
    grid-column: 2;

    background-color: #00A1E8ba;
    color: 	#000000;

    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

#r5c1{
    grid-row: 5;
    grid-column: 1;

    background-color: #9C9FA2ba;
    color: 	#000000;

    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
#r5c2{
    grid-row: 5;
    grid-column: 2;

    background-color: #01C00Eba;
    color: 	#000000;

    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

#r1c1:hover {

    transform: scale(110%);
}
#r1c2:hover {

    transform: scale(110%);
}

#r2c1:hover {

    transform: scale(110%);
}
#r2c2:hover {

    transform: scale(110%);
}


#r3c1:hover {

    transform: scale(110%);
}
#r3c2:hover {

    transform: scale(110%);
}
  

#r4c1:hover {

    transform: scale(110%);
}
#r4c2:hover {

    transform: scale(110%);
}

#r5c1:hover {

    transform: scale(110%);
}
#r5c2:hover {

    transform: scale(110%);
}

.team-card{
    display: grid;
    grid-template-rows: auto auto;

    margin: 25px;

    align-items: center;

    padding: 20px;

    border-radius: 50px;
}

.car{
    width: 75%;
    justify-self: center;
}

.logoNames{
    display: grid;
    grid-template-columns: auto auto;

    font-family: "Titillium Web";
}

.ppl{
    align-self: center;
}

.logoNames img{
    width: 245px;
    justify-self: center;
    align-self: center;

    object-fit: contain;
}

#ferrari{
    overflow: hidden;
    width: 50px;
}

#racingbull{
    overflow: hidden;
    width: 150px;
}

#williams{
    overflow: hidden;
    width: 100px;
}

footer{
    border-top: 2px solid #ff1e00;
    margin-top: 50px;

    height: 80px;
    width: 100%;

    grid-row: 3;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.footer-content {
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.footer-right {
    text-align: right;
    font-size: 14px;
}
